#main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 100%;
}
#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
	width: 60vw;
	background-color: rgba(255, 255, 255, 0.25);
	/*border-radius: 20%;*/
	box-shadow: rgba(255, 255, 255, 0.25) 0 0 10px 10px;
}
#main-logo {
	object-fit: contain;
	height: 35%;
	width: auto;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20%;
	transition: background-color 0.5s;
}
#main-logo:hover {
	background-color: rgba(128, 128, 128, 0.25);
}
.login {
	height: 7.5%;
	width: 60%;
	text-align: center;
	border-radius: 20px;
	font-size: 2em;
	margin-top: 0.5%;
	/*margin-bottom: 0.5%;*/
}
#login-submit, #signup-submit {
	height: 7.5%;
	width: auto;
	border-radius: 20px;
	background-color: white;
	border: none;
	border: 1px #888888 solid;
	margin-bottom: 0.5%;
	min-height: 1.5em;
	padding-left: 15px;
	padding-right: 15px;
}
#login-submit {
	box-shadow: #888888 0 0 3px 3px;
}
#login-submit:hover, #signup-submit:hover {
	border: 1px #CCCCCC solid;
	cursor: pointer;
}
#title {
	margin: 0;
}
textarea:focus, input:focus{
	placeholder: none;
    outline: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
	transition: color 0.1s;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	transition: color 0.1s;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	transition: color 0.1s;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	transition: color 0.1s;
}
input:focus::-webkit-input-placeholder { /* WebKit browsers */
	color: transparent;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: transparent;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: transparent;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: transparent;
}
#error {
	color: red;
}